# Global junk
.git
.vs
*.user
*.suo
*.log

# .NET build output
**/bin
**/obj

# Next.js output & deps
FunWordle.Web/funwordle-next/node_modules
FunWordle.Web/funwordle-next/.next

# Docker-related
Dockerfile
**/Dockerfile
docker-compose.yml